<?xml version="1.0"?>

<model>
  <name>Box with ArUco markers</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Fabian Reister</name>
    <email>fabian.reister92@gmail.com</email>
  </author>

  <description>
    Box with aruco markers. One on each side. 
  </description>
</model> 
